
* {
   box-sizing: border-box;
}

.container {
   margin: 20px auto;
   width: 1000px;
}

.row {
   display: flex;
}

hr {
   border: 1px solid #EEE;
}

.game-info {
   display: flex;
}

.game-info .game-name {
   flex: 1;
}

.game-info .category {
   display: flex;
   text-align: right;
}

.game-info .category span {
   text-transform: capitalize;
   color: #E91E63;
   font-weight: bold;
}

.hangman-draw {
   flex: 1;
   background-color: #f8f8f8;
   padding: 20px;
   height: 324px;
}

.hangman-draw .the-drew {
   width: 60px;
   height: 280px;
   border-bottom: 4px solid #222;
   position: relative;
   margin: auto;
   left: -60px;
   display: none;
}

.hangman-draw .the-stand {
   content: '';
   position: absolute;
   width: 4px;
   background-color: #222;
   height: 100%;
   left: 50%;
   margin-left: -2px;
   display: none;
}
.hangman-draw .the-hang{
   display: none;
}
.hangman-draw .the-hang:before {
   content: '';
   position: absolute;
   height: 4px;
   background-color: #222;
   width: 100px;
   left: 50%;
   top: 10px;
}

.hangman-draw .the-hang:after {
   content: '';
   position: absolute;
   height: 30px;
   background-color: #222;
   width: 4px;
   left: 210%;
   top: 10px;
}

.hangman-draw .the-rope {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   position: absolute;
   left: 92px;
   top: 40px;
   border: 4px dashed #222;
   display: none;
}

.hangman-draw .the-man .head {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   position: absolute;
   left: 102px;
   top: 49px;
   border: 4px solid #21b330;
   display: none;
}

.hangman-draw .the-man .body {
   content: '';
   position: absolute;
   width: 4px;
   background-color: #d2d60b;
   height: 109px;
   left: 126px;
   top: 94px;
   display: none;
}
.hangman-draw .the-man .hands{
   display: none;
}
.hangman-draw .the-man .hands:before {
   left: 80px;
   transform: rotate(30deg);
}

.hangman-draw .the-man .hands:after {
   left: 125px;
   transform: rotate(150deg);
}

.hangman-draw .the-man .hands:before,
.hangman-draw .the-man .hands:after {
   content: '';
   width: 50px;
   position: absolute;
   height: 4px;
   top: 132px;
   background-color: #e48a0a;
}
.hangman-draw .the-man .legs{
   display: none;
}
.hangman-draw .the-man .legs:before {
   left: 80px;
   transform: rotate(-30deg);
}

.hangman-draw .the-man .legs:after {
   left: 125px;
   transform: rotate(-150deg);
}

.hangman-draw .the-man .legs:before,
.hangman-draw .the-man .legs:after {
   content: '';
   width: 50px;
   position: absolute;
   height: 4px;
   top: 210px;
   background-color: #f00d0d;
}
.hangman-draw.wrong-1 .the-drew{
   display: block;
}
.hangman-draw.wrong-2 .the-stand{
   display: block;
}
.hangman-draw.wrong-3 .the-hang{
   display: block;
}
.hangman-draw.wrong-4 .the-rope{
   display: block;
}
.hangman-draw.wrong-5 .head{
   display: block;
}
.hangman-draw.wrong-6 .body{
   display: block;
}
.hangman-draw.wrong-7 .hands{
   display: block;
}
.hangman-draw.wrong-8 .legs{
   display: block;
}
.letters {
   flex: 1;
   padding: 15px;
   text-align: center;
   
}
.letters.finished {
   pointer-events: none;
}
.letters .letter-box {
   width: 55px;
   height: 55px;
   display: inline-block;
   background-color: #009688;
   color: #FFF;
   font-size: 24px;
   margin-right: 10px;
   line-height: 55px;
   text-transform: uppercase;
   font-weight: bold;
   cursor: pointer;
   margin-bottom: 10px;
}

.letters .letter-box.clicked {
   background-color: #222;
   opacity: .2;
   pointer-events: none;
   
}

.letter-guess {
   margin: 10px auto;
   background-color: #F8F8F8;
   padding: 20px;
   display: flex;
   justify-content: center;
   min-height: 104px;
}

.letter-guess span {
   width: 60px;
   height: 60px;
   font-size: 24px;
   margin-right: 10px;
   text-align: center;
   line-height: 60px;
   text-transform: uppercase;
   font-weight: bold;
   background-color: #FDFDFD;
   border-bottom: 3px solid #222;
   transition: .3s;
}
.letter-guess span .with-space {
   background: none;
   border-bottom: none;
   position: relative;
}
.letter-guess span .with-space:before {
   content:'' ;
   width: 20px;
   height: 4px;
   background-color: #000000;
   position: absolute;
   transform: translate(-50% , -50%);
}
.popup {
   position: fixed;
   background-color: #009688;
   padding: 100px 20px;
   width: 80%;
   top: 10%;
   left: 10%;
   text-align: center;
   font-size: 40px;
   border: 1px solid #CCC;
   color: #FFF;
}